---

### Ant

- name: set ant_name
  set_fact:
    ant_name: "apache-ant-{{ ant_version }}"
  tags:
    - ant
    - test

- name: set ant_home
  set_fact:
    ant_home: "{{ ant_base }}/{{ ant_name }}"
  tags:
    - ant
    - test

- name: 'install ant facts'
  template:
    src: ant.fact
    dest: /etc/ansible/facts.d/ant.fact
    owner: root
    group: root
    mode: 0644
  tags:
    - ant

- name: 'make sure directory for Ant exists'
  file:
    dest: "{{ ant_base }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  tags:
    - ant

- name: 'verify presence of Ant'
  stat:
    path: "{{ ant_base }}/{{ ant_name }}/bin/ant"
  register: ant_installed
  tags:
    - ant
    - ant_test
    - test

- name: 'untar Ant'
  unarchive:
    src: "{{ ant_url }}"
    dest: "{{ ant_base }}"
    copy: no
  retries: 3
  when: not ant_installed.stat.exists
  tags:
    - ant

- name: 'install /etc/profile.d/ant.sh'
  template:
    src: etc-profile-d-ant-sh
    dest: /etc/profile.d/ant.sh
    owner: root
    group: root
    mode: 0644
  tags:
    - ant

- include: tests.yml
  tags:
    - test
